<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background Images</key>
	<array>
		<string>bg_pattern.jpg</string>
		<string>bg_letter.jpg</string>
	</array>
	<key>Folder Name</key>
	<string>Thank You.mailstationery</string>
	<key>HTML File</key>
	<string>content.html</string>
	<key>Images</key>
	<array>
		<string>top.jpg</string>
		<string>bottom.jpg</string>
	</array>
	<key>Stationery ID</key>
	<string>2ECD79A2-C419-44A1-B7AA-3A0BE5D263D7</string>
	<key>Thumbnail Image</key>
	<string>thumbnail.png</string>
</dict>
</plist>
